.stop1 {
    stop-color: black;
}

.stop2 {
    stop-color: rgb(255, 0, 255);
}

.stop3 {
    stop-color: black;
}

body {
    margin: 0px;
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    top: 0;
}

/*SVG liukuväripalkki*/
.palkki {
    animation-duration: 8s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    z-index: 1;
    animation-timing-function: ease-in-out;
    top: -5vh;
    height: 5vh;
    width: 100vw;
}
    
@keyframes tayte {
    0% {
        stop-color: rgb(255, 0, 255);
    }
    50% {
        stop-color: yellow;
    }
}
    
@keyframes slide {
    from {
        transform: translateY(calc((var(--vh, 1vh) * -5)));
    }
    to {
        transform: translateY(calc((var(--vh, 1vh) * 110)));
    }
}

/*Pingviinin lisäysnappi*/
#pingviiniLisays {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
}
    
.pingviini {
    animation-duration: 10s;
    animation-name: pingviiniLiike;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
    
@keyframes pingviiniLiike {
    0% {
        transform: translate(0,0);
    }
    25% {
        transform: translate(0, calc(100vh - 100%));
    }
    50% {
        transform: translate(calc(100vw - 100%), calc(100vh - 100%));
    }
    75% {
        transform: translate(calc(100vw - 100%), 0);
    }
    100% {
        transform: translate(0,0);
    }
}

/*Muuttaa yksittäisen canvaksen koon jos laitteen width on 360 <= x < 800*/
@media all and (min-width: 360px) {
    canvas {
        display: block;
        position: relative;
        margin: auto;
        z-index: 3;
        height: 2%;
        top: calc(85vh - 50%);
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/*Muuttaa yksittäisen canvaksen koon jos laitteen width on x > 800*/
@media all and (min-width: 800px) {
    canvas {
        display: block;
        position: relative;
        margin: auto;
        z-index: 3;
        top: calc(85vh - 50%);
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/*Jos pöllön canvasosa on parillinen*/
.canvasEven {
    animation-duration: 4s;
    animation-name: polloEven;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

/*Jos pöllön canvasosa on pariton*/
.canvasOdd {
    animation-duration: 4s;
    animation-name: polloOdd;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes polloEven {
    from {
        transform: translateX(calc(50vw - 50%));
    }
    to {
        transform: translateX(calc(-50vw + 50%));
    }
}

@keyframes polloOdd {
    from {
        transform: translateX(calc(-50vw + 50%));
    }
    to {
        transform: translateX(calc(50vw - 50%));
    }
}