.stop1 {
    stop-color: black;
}

.stop2 {
    stop-color: rgb(255, 0, 255);
}

.stop3 {
    stop-color: black;
}

body {
    margin: 0px;
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    top: 0;
}

.palkki {
    animation-duration: 8s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    animation-timing-function: ease-in-out;
    top: -5%;
    height: 5%;
    width: 100vw;
}

@keyframes tayte {
    0% {
        stop-color: rgb(255, 0, 255);
    }
    50% {
        stop-color: yellow;
    }
}

@keyframes slide {
    from {
        transform: translateY(-10vh);
    }
    to {
        transform: translateY(110vh);
    }
}

canvas {
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.canvasEven {
    animation-duration: 4s;
    animation-name: polloEven;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.canvasOdd {
    animation-duration: 4s;
    animation-name: polloOdd;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes polloEven {
    from {
        transform: translateX(calc(50vw - 50%));
    }
    to {
        transform: translateX(calc(-50vw + 50%));
    }
}

@keyframes polloOdd {
    from {
        transform: translateX(calc(-50vw + 50%));
    }
    to {
        transform: translateX(calc(50vw - 50%));
    }
}

